<div class="devise-wrapper">

  <h1><%= Constants::APP_INFO["title"] %></h1>

  <div class="devise-container">

    <h2>Sign up</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, required: true, minlength: 3, autofocus: true, autocomplete: "username" %>
        <span class="error-message">Username must be at least 3 characters long</span>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, required: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, required: true, pattern: /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,128}$/, autocomplete: "new-password" %>
        <span class="error-message">Password must be at least 8 characters long and contain 1 uppercase, 1 lowercase, 1 number and 1 special character</span>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => "devise-btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
